.row
  .col-md-6.col-md-offset-3  
    .box.box-primary
      .box-header.with-border
        h3.box-title Session
      form(name="session-form", role='form')
        .box-body
          .form-group
            label Name
            .input-group
              input.form-control(name="name", type='text', readonly=true)
              a.btn.btn-default.input-group-addon(href!='#/scheduler/task-instances?session=<%=id%>') Tasks
          .form-group
            label Schedule Date
            input.form-control(name="scheduleDate", type='text' required=true, readonly=true)
          .form-group
            label Parallel
            input.form-control(name="parallel", type='number', value=10, placeholder='', required=false, min='1')
          .form-group
            label Priority
            div(style="min-width:400px")
              input.form-control.slider(name='priority', style="min-width:400px", type='text', data-slider-value=2)
          .form-group
            label Description
            textarea.form-control(name="description" rows="3", readonly=true)
        .box-footer
          a.btn.btn-danger.js-cancel-btn Cancel
          a.disabled.ladda-button.btn.btn-primary.pull-right.js-save-btn(data-style="expand-left") Save